{%extends 'base.html'%}


{%block title %}
    All-Stocks
{%endblock %}


{%block content%}
    <body onload="getAllStock()">
        <div class="container mt-5" style="align-items: center;display:flex;justify-content:center">
            <div class="loadingio-spinner-gear-93hfjlj14fj" id='roller'><div class="ldio-fg6jw9rwixn">
                <div><div></div><div></div><div></div><div></div><div></div><div></div></div>
                </div>
            </div>
        </div>
            <div class="container ">
                <!-- Table structure here -->
                <table class="table" id="Our-Table">
                    <thead>
                        <tr>
                            <th>Currency</th>
                            <th>Name</th>
                            <th>Symbol</th>
                            <th>Type</th>
                        </tr>
                    </thead>
                    <tbody id="Table-Body">
            
                    </tbody>
                </table>
            </div>
            
            
        
       
        <div class="container ">
            <div id="Pagination-Wrapper"></div>
        </div>

            <style>
            @keyframes ldio-fg6jw9rwixn {
                0% { transform: rotate(0deg) }
               50% { transform: rotate(22.5deg) }
              100% { transform: rotate(45deg) }
            }
            .ldio-fg6jw9rwixn > div {
              transform-origin: 103.49999999999999px 103.49999999999999px;
              animation: ldio-fg6jw9rwixn 0.29069767441860467s infinite linear;
            }
            .ldio-fg6jw9rwixn > div div {
                position: absolute;
                width: 26.909999999999997px;
                height: 149.04px;
                background: #211f5c;
                left: 103.49999999999999px;
                top: 103.49999999999999px;
                transform: translate(-50%,-50%);
            }
            .ldio-fg6jw9rwixn > div div:nth-child(1) {
                width: 107.63999999999999px;
                height: 107.63999999999999px;
                border-radius: 50%;
            }
            .ldio-fg6jw9rwixn > div div:nth-child(6) {
                width: 84.08px;
                height: 84.08px;
                background: #ffffff;
                border-radius: 50%;
            }.ldio-fg6jw9rwixn > div div:nth-child(3) {
              transform: translate(-50%,-50%) rotate(45deg)
            }.ldio-fg6jw9rwixn > div div:nth-child(4) {
              transform: translate(-50%,-50%) rotate(90deg)
            }.ldio-fg6jw9rwixn > div div:nth-child(5) {
              transform: translate(-50%,-50%) rotate(135deg)
            }
            .loadingio-spinner-gear-93hfjlj14fj {
                display:none;
              width: 197px;
              height: 197px;
              display: inline-block;
              overflow: hidden;
              background: #ffffff;
            }
            .ldio-fg6jw9rwixn {
              width: 100%;
              height: 100%;
              position: relative;
              transform: translateZ(0) scale(1);
              backface-visibility: hidden;
              transform-origin: 0 0; /* see note above */
            }
            .ldio-fg6jw9rwixn div { box-sizing: content-box; }
            /* generated by https://loading.io/ */
            </style>
    </body>
{%endblock%}