{%extends 'base.html'%}


{%block title %}
   Company-Profile
{%endblock %}


{%block content%}
    <div class="container cryptoIntra">
        <form method="POST">
            <label class="form-label" for="formInputExample">Enter Company Code</label>
            <input type="text"name='company' class="form-control" id="formInputExample" placeholder="Comp-Code ex:MSFT">
        </form>
    </div>
    {%if data%}
    <div class="container bg-dark text-white" style="border-radius: 4px; margin-top:100px;margin-bottom:50px">
     
            <div class="d-flex"  style="padding:5px 0px 0px 5px">
                Name - {{name}}
            </div>
            <div  style="padding:5px 5px 5px 5px">
                Symbol - {{symbol}}
            </div>
            <div  style="padding:5px 5px 5px 5px">
                Country of Origin - {{country}}
            </div>
            <div  style="padding:5px 5px 5px 5px">
                Base Type - {{industry}}
            </div>
            <div  style="padding:5px 5px 5px 5px">
                Sector - {{sector}}
            </div>
            <div  style="padding:5px 5px 5px 5px">
                {{comp}}
            </div>
            <div  style="padding:5px 5px 5px 5px">
               Address - {{address}}
            </div>
            <div  style="padding:5px 5px 5px 5px">
                Asset - {{asset}}
            </div>
            <div  style="padding:5px 5px 5px 5px">
                Exchange - {{exchange}}
            </div>
            
            
            
       
        
    </div>
    {%endif%}
        {%if message%}
        <div class="container cryptoIntra">
            <p>{{message}}</p>
        </div>
            
        {%endif%}
    
    
    <style>
         .cryptoIntra{
        width:50%;
        margin-top:100px;
    }
    

    @media(min-width:550px) and (max-width:850px){
        .cryptoIntra{
        width:70%;
    }
}
    @media(max-width:549px){
        .cryptoIntra{
        width:80%;
    }
    }
    </style>
{%endblock%}