{%extends 'base.html'%}


    {%block title%}
        Income Statements
    {%endblock%}



    {%block content%}
    <div class="container">
        <form id="getBasicsFin">
            <label class="form-label" for="formInputExample">Enter Company/Firm Ticker(Code)</label>
            <input type="text" name='comp' class="form-control" id="comp" placeholder="Comp-Code ex:MSFT"/>
            <button type="submit" class="btn btn-dark w-100">Go 🖨 </button>
        </form>
    </div>
    {%endblock%}