{%extends 'base.html'%}


{%block title %}
   Company-Profile
{%endblock %}


{%block content%}
<body onload='getIPO()'>


        <div class="container">
            <div class="container graph mt-5">
                <div class='text-primary'><h6>Total Share Value</h6></div>
                <div id="chart"></div>
            </div>
            <div class="container graph mt-5">
                <div class="text-primary">
                    <h6>Total No of Shares</h6>
                </div>
                <div id="chart1"></div>
            </div>

            <div class="container graph mt-5">
                <div class="text-primary">
                    <h6>Price</h6>
                </div>
                <div id="chart2"></div>
            </div>
            
        
        </div>
        <div class="container mt-5">
            {%if datas%}
            <table class="table table-striped table-dark">
                <thead>
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Date</th>
                    <th scope="col" class='res'>Symbol</th>
                    <th scope="col" >Share-Value</th>
                  </tr>
                </thead>
                {%for data in datas%}
                <tbody>
                    
                    <tr>
                        <td>{{data['name']}}</td>
                        <td>{{data['date']}}</td>
                        <td class='res'>{{data['symbol']}}</td>
                        <td >{{data['totalSharesValue']}}</td>
                      </tr>
                   
                 
                 
                </tbody>
                {%endfor%}
              </table>
        </div>
            {%endif%}
</body>
   
           <style>
               @media(max-width: 500px){
                    .res{
                        display: none;
                    }
               }

               @media(min-width: 750px){
                    .graph{
                        height:60%;
                        width:80%
                    }

               }
           </style>
{%endblock%}