{%extends 'base.html'%}


{%block title %}
    Stock-Symbol
{%endblock %}


{%block content%}
    <body onload="getStock()">
        <div class="container" style="display:flex;align-items:center;justify-content:center;">
            <div class="loadingio-spinner-bean-eater-ha7j7tw6rt text-center" id='load_spinner'><div class="ldio-rw2r5puqhm">
                <div><div></div><div></div><div></div></div><div><div></div><div></div><div></div></div>
                </div>
            </div>
        </div>

        <div class="container mt-5" id='head'>
            <!-- Table structure here -->
            <table class="table " id="our-table">
                <thead >
                    <tr >
                        <th >Currency</th>
                        
                        <th >Name</th>
                        <th>Symbol</th>
                        <th >Type</th>
                    </tr>
                </thead>
                <tbody id="table-body">
        
                </tbody>
            </table>
        </div>
        
        <div class="container text-center">
            <div id="pagination-wrapper"></div>
        </div>
    </body>

    <style>
  
@keyframes ldio-rw2r5puqhm-1 {
    0% { transform: rotate(0deg) }
   50% { transform: rotate(-45deg) }
  100% { transform: rotate(0deg) }
}
@keyframes ldio-rw2r5puqhm-2 {
    0% { transform: rotate(180deg) }
   50% { transform: rotate(225deg) }
  100% { transform: rotate(180deg) }
}
.ldio-rw2r5puqhm > div:nth-child(2) {
  transform: translate(-15px,0);
}
.ldio-rw2r5puqhm > div:nth-child(2) div {
  position: absolute;
  top: 40px;
  left: 40px;
  width: 120px;
  height: 60px;
 
  border-radius: 120px 120px 0 0;
  background: #4d927f;
  animation: ldio-rw2r5puqhm-1 1s linear infinite;
  transform-origin: 60px 60px
}
.ldio-rw2r5puqhm > div:nth-child(2) div:nth-child(2) {
  animation: ldio-rw2r5puqhm-2 1s linear infinite
}
.ldio-rw2r5puqhm > div:nth-child(2) div:nth-child(3) {
  transform: rotate(-90deg);
  animation: none;
}@keyframes ldio-rw2r5puqhm-3 {
    0% { transform: translate(190px,0); opacity: 0 }
   20% { opacity: 1 }
  100% { transform: translate(70px,0); opacity: 1 }
}
.change-font{
    font-size: 15px;
}
@media (max-width: 750px) {
    .change-font{
    font-size: 10px;
    } 
}
.ldio-rw2r5puqhm > div:nth-child(1) {
  display: block;
}
.ldio-rw2r5puqhm > div:nth-child(1) div {
  position: absolute;
  top: 92px;
  left: -8px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #222640;
  animation: ldio-rw2r5puqhm-3 1s linear infinite
}
.ldio-rw2r5puqhm > div:nth-child(1) div:nth-child(1) { animation-delay: -0.67s }
.ldio-rw2r5puqhm > div:nth-child(1) div:nth-child(2) { animation-delay: -0.33s }
.ldio-rw2r5puqhm > div:nth-child(1) div:nth-child(3) { animation-delay: 0s }
.loadingio-spinner-bean-eater-ha7j7tw6rt {
  width: 150px;
  height: 180px;
  display: inline-block;
  overflow: hidden;
  background: #ffffff;
  display:none;
}
.ldio-rw2r5puqhm {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-rw2r5puqhm div { box-sizing: content-box; }
/* generated by https://loading.io/ */

    </style>
{%endblock%}