{%extends 'base.html'%}



{%block title%}
    Home
{%endblock%}




{%block content%}

{% with messages = get_flashed_messages(with_categories=true) %}
        {%if messages %}
            {%for category,message in messages%}
                {%if category == "warning" %}
                <div class="alert text-center alert-warning  alert-dismissable fade show" role="alert">
                    
                        {{ message }}
                   
                    
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden ="true">&times;</span>
                    </button>
                </div>
                {%else%}
                <div class="alert text-center alert-success  flex-end alert-dismissable fade show" role="alert">
                    
                        {{ message }}
                   
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden ="true">&times;</span>
                    </button>
                </div>
                {%endif%}
            {%endfor%}
        {%endif%}
    {% endwith %}

    <div class="container">
        <h1>You are now in crypto section</h1>
        <h3>3 Columns</h3>
<div class="container">
  <div class="row">
    
    <div class="col-xs-12 col-sm-4">
      <div class="box">
        <img src="https://img.icons8.com/fluent/200/000000/euro-pound-exchange-1.png"/>
        <h3 class="text-dark text-center">Get Exchange Rates for Crypto Currencies</h3>
      </div>
    </div>
    
    <div class="col-xs-12 col-sm-4">
      <div class="box">
        <img src="https://img.icons8.com/fluent/200/000000/calendar.png"/>
        <h3 class="text-dark text-center">Get Intra-Day Data</h3>
      </div>
    </div>
    
    <div class="col-xs-12 col-sm-4">
      <div class="box">
        <img src="../static/images/icons8-open-sign.gif"/>
        <h3 class="text-dark text-center">Get Daily Open-Close</h3>
      </div>
    </div>
    
  </div>
</div>

    </div>
    <style>
        .box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    color:black;
    margin: 20px 0;
    padding: 10px;
    width: 100%;
    min-height: 200px;
    box-shadow: 1px 2px 8px 2px rgba(0,0,0,0.6); 
}


    </style>
{%endblock%}