{%extends 'base.html'%}


{%block title %}
    Fundamentals
{%endblock %}


{%block content%}
    <div class="container text-center">
       
        <header class="py-5">
            <div class="container ">
                <div class="p-4 p-lg-5 bg-light rounded-3 text-center">
                    <div class="m-4 m-lg-5">
                        <h1 class="display-5 fw-bold">A warm welcome!</h1>
                        <p class="fs-4">Bootstrap utility classes are used to create this jumbotron since the old component has been removed from the framework. Why create custom CSS when you can use utilities?</p>
                        <a class="btn btn-primary btn-lg" href="#!">Call to action</a>
                    </div>
                </div>
            </div>
        </header>

        <div class="container ">
        <div class="row gx-4 gx-lg-5 align-items-center my-5">
            <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="https://dummyimage.com/900x400/dee2e6/6c757d.jpg" alt="..." /></div>
            <div class="col-lg-5">
                <h1 class="font-weight-light">Business Name or Tagline</h1>
                <p>This is a template that is great for small businesses. It doesn't have too much fancy flare to it, but it makes a great use of the standard Bootstrap core components. Feel free to use this template for any project you want!</p>
                <a class="btn btn-primary" href="#!">Call to Action!</a>
            </div>
        </div>
    </div>

    <div class="container card text-white bg-secondary my-5 py-4 text-center">
        <div class="card-body"><p class="text-white m-0">This call to action card is a great place to showcase some important information or display a clever tagline!</p></div>
    </div>

    <section class="pt-4">
        <div class="container px-lg-5">
            <!-- Page Features-->
            <div class="row gx-lg-5">
                <div class="col-lg-6 col-xxl-4 mb-5">
                    <div class="card bg-light border-0 h-100">
                        <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0" >
                            <div class="text-center d-flex" style='justify-content:center;align-items:center'>
                                <div class="bg-primary bg-gradient  rounded-3 pt-5 pb-5 mb-4 mt-n4 " style="border-radius: 50%; width:150px; height:150px;display:flex;justify-content:center;align-items:center"><img src="https://img.icons8.com/color-glass/96/000000/price-tag-usd.png"/></div>

                            </div>
                            <h2 class="fs-4 fw-bold">Fresh new layout</h2>
                            <p class="mb-0">With Bootstrap 5, we've created a fresh new layout for this template!</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xxl-4 mb-5">
                    <div class="card bg-light border-0 h-100">
                        <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                            <div class="text-center d-flex" style='justify-content:center;align-items:center'>
                                <div class="bg-dark bg-gradient  rounded-3 pt-5 pb-5 mb-4 mt-n4 " style="border-radius: 50%; width:150px; height:150px;display:flex;justify-content:center;align-items:center"><img src="https://img.icons8.com/fluency/96/000000/greenhouse-effect.png"/></div>

                            </div>       
                            <h2 class="fs-4 fw-bold">Free to download</h2>
                            <p class="mb-0">As always, Start Bootstrap has a powerful collectin of free templates.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xxl-4 mb-5">
                    <div class="card bg-light border-0 h-100">
                        <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                            <div class="text-center d-flex" style='justify-content:center;align-items:center'>
                                <div class="bg-dark bg-gradient  rounded-3 pt-5 pb-5 mb-4 mt-n4 " style="border-radius: 50%; width:150px; height:150px;display:flex;justify-content:center;align-items:center"><img src="https://img.icons8.com/fluency/96/000000/company.png"/></div>

                            </div> 
                            <h2 class="fs-4 fw-bold">Jumbotron hero header</h2>
                            <p class="mb-0">The heroic part of this template is the jumbotron hero header!</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xxl-4 mb-5">
                    <div class="card bg-light border-0 h-100">
                        <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                            <div class="text-center d-flex" style='justify-content:center;align-items:center'>
                                <div class="bg-white bg-gradient  rounded-3 pt-5 pb-5 mb-4 mt-n4 " style="border-radius: 50%; width:150px; height:150px;display:flex;justify-content:center;align-items:center"><img src="https://img.icons8.com/fluency/96/000000/stock-share.png"/></div>

                            </div>
                            <h2 class="fs-4 fw-bold">Feature boxes</h2>
                            <p class="mb-0">We've created some custom feature boxes using Bootstrap icons!</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xxl-4 mb-5">
                    <div class="card bg-light border-0 h-100">
                        <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                            <div class="text-center d-flex" style='justify-content:center;align-items:center'>
                                <div class="bg-dark text-white bg-gradient  rounded-3 pt-5 pb-5 mb-4 mt-n4 " style="border-radius: 50%; width:150px; height:150px;display:flex;justify-content:center;align-items:center"><img src="https://img.icons8.com/color/100/000000/key-not-in-vehicle.png"/></div>
                            </div>
                            <h2 class="fs-4 fw-bold">Simple clean code</h2>
                            <p class="mb-0">We keep our dependencies up to date and squash bugs as they come!</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xxl-4 mb-5">
                    <div class="card bg-light border-0 h-100">
                        <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                            <div class="text-center d-flex" style='justify-content:center;align-items:center'>
                                <div class="bg-info text-white bg-gradient  rounded-3 pt-5 pb-5 mb-4 mt-n4 " style="border-radius: 50%; width:150px; height:150px;display:flex;justify-content:center;align-items:center"><img src="https://img.icons8.com/ios/50/000000/google-news.png"/></div>
                            </div>
                            <h2 class="fs-4 fw-bold">A name you trust</h2>
                            <p class="mb-0">Start Bootstrap has been the leader in free Bootstrap templates since 2013!</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-xxl-4 mb-5">
                    <div class="card bg-light border-0 h-100">
                        <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                            <div class="text-center d-flex" style='justify-content:center;align-items:center'>
                                <div class="bg-dark text-white bg-gradient  rounded-3 pt-5 pb-5 mb-4 mt-n4 " style="border-radius: 50%; width:150px; height:150px;display:flex;justify-content:center;align-items:center"><img src="https://img.icons8.com/color/96/000000/transaction.png"/></div>
                            </div>
                            <h2 class="fs-4 fw-bold">A name you trust</h2>
                            <p class="mb-0">Start Bootstrap has been the leader in free Bootstrap templates since 2013!</p>
                        </div>
                    </div>
                </div>


                <div class="col-lg-6 col-xxl-4 mb-5">
                    <div class="card bg-light border-0 h-100">
                        <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                            <div class="text-center d-flex" style='justify-content:center;align-items:center'>
                                <div class="bg-danger text-white bg-gradient  rounded-3 pt-5 pb-5 mb-4 mt-n4 " style="border-radius: 50%; width:150px; height:150px;display:flex;justify-content:center;align-items:center"><img src="https://img.icons8.com/fluency/96/000000/cash.png"/></div>
                            </div>
                            <h2 class="fs-4 fw-bold">A name you trust</h2>
                            <p class="mb-0">Start Bootstrap has been the leader in free Bootstrap templates since 2013!</p>
                        </div>
                    </div>
                </div>


                <div class="col-lg-6 col-xxl-4 mb-5">
                    <div class="card bg-light border-0 h-100">
                        <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                            <div class="text-center d-flex" style='justify-content:center;align-items:center'>
                                <div class="bg-secondary text-white bg-gradient  rounded-3 pt-5 pb-5 mb-4 mt-n4 " style="border-radius: 50%; width:150px; height:150px;display:flex;justify-content:center;align-items:center"><img src="https://img.icons8.com/color-glass/96/000000/pay-date.png"/></div>
                            </div>
                            <h2 class="fs-4 fw-bold">A name you trust</h2>
                            <p class="mb-0">Start Bootstrap has been the leader in free Bootstrap templates since 2013!</p>
                        </div>
                    </div>
                </div>


                <div class="col-lg-6 col-xxl-4 mb-5">
                    <div class="card bg-light border-0 h-100">
                        <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                            <div class="text-center d-flex" style='justify-content:center;align-items:center'>
                                <div class="bg-white text-white bg-gradient  rounded-3 pt-5 pb-5 mb-4 mt-n4 " style="border-radius: 50%; width:150px; height:150px;display:flex;justify-content:center;align-items:center"><img src="https://img.icons8.com/ios/100/000000/strategy-news.png"/></div>
                            </div>
                            <h2 class="fs-4 fw-bold">A name you trust</h2>
                            <p class="mb-0">Start Bootstrap has been the leader in free Bootstrap templates since 2013!</p>
                        </div>
                    </div>
                </div>


                <div class="col-lg-6 col-xxl-4 mb-5">
                    <div class="card bg-light border-0 h-100">
                        <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                            <div class="text-center d-flex" style='justify-content:center;align-items:center'>
                                <div class="bg-warning text-white bg-gradient  rounded-3 pt-5 pb-5 mb-4 mt-n4 " style="border-radius: 50%; width:150px; height:150px;display:flex;justify-content:center;align-items:center"><img src="https://img.icons8.com/cute-clipart/96/000000/document.png"/></div>
                            </div>
                            <h2 class="fs-4 fw-bold">A name you trust</h2>
                            <p class="mb-0">Start Bootstrap has been the leader in free Bootstrap templates since 2013!</p>
                        </div>
                    </div>
                </div>


                <div class="col-lg-6 col-xxl-4 mb-5">
                    <div class="card bg-light border-0 h-100">
                        <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                            <div class="text-center d-flex" style='justify-content:center;align-items:center'>
                                <div class="bg-danger text-white bg-gradient  rounded-3 pt-5 pb-5 mb-4 mt-n4 " style="border-radius: 50%; width:150px; height:150px;display:flex;justify-content:center;align-items:center"><img src="https://img.icons8.com/cute-clipart/100/000000/bank-cards.png"/></div>
                            </div>
                            <h2 class="fs-4 fw-bold">A name you trust</h2>
                            <p class="mb-0">Start Bootstrap has been the leader in free Bootstrap templates since 2013!</p>
                        </div>
                    </div>
                </div>


                <div class="col-lg-6 col-xxl-4 mb-5">
                    <div class="card bg-light border-0 h-100">
                        <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                            <div class="text-center d-flex" style='justify-content:center;align-items:center'>
                                <div class="bg-white text-white bg-gradient  rounded-3 pt-5 pb-5 mb-4 mt-n4 " style="border-radius: 50%; width:150px; height:150px;display:flex;justify-content:center;align-items:center"><img src="https://img.icons8.com/nolan/96/overview-pages-3.png"/></div>
                            </div>
                            <h2 class="fs-4 fw-bold">A name you trust</h2>
                            <p class="mb-0">Start Bootstrap has been the leader in free Bootstrap templates since 2013!</p>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </section>

    
            <a href="/fundamentals/stock-symbols/"><button class='btn btn-outline-primary'>Click to check all stocks in USD</button></a>
            <a href="/fundamentals/all-stocks/"><button class='btn btn-outline-danger'>Click to see global-listed stocks</button></a>
            <a href="/fundamentals/company-profile/"><button class='btn btn-outline-danger'>Click to check the complete company profile</button></a>
            <a href="/fundamentals/all-exchanges/"><button class='btn btn-outline-danger'>Click to check all stock exchanges</button></a>
            <a href="/fundamentals/all-tickers/"><button class='btn btn-outline-danger'>Click to check all tickers</button></a>
            <a href="/fundamentals/get-news/"><button class='btn btn-outline-danger'>Click to see news of a specific company</button></a>
            <a href="/fundamentals/finance-insider/"><button class='btn btn-outline-danger'>Click to see insider transactions</button></a>
            <a href="/fundamentals/earnings/"><button class='btn btn-outline-danger'>Click to see earnings</button></a>
            <a href="/fundamentals/ipo/"><button class='btn btn-outline-danger'>IPO Calendar </button></a>
            <a href="/fundamentals/market-news/"><button class='btn btn-outline-danger'>Market News   </button></a>
            <a href="/fundamentals/filings/"><button class='btn btn-outline-danger'>Filings </button></a>
          
            <a href="/fundamentals/basic-financials/"><button class='btn btn-outline-danger'>Basic Financials</button></a>
            <a href="/fundamentals/income-statement/"><button class='btn btn-outline-danger'>Income Statements</button></a>

    </div>

    <style>
  
 
  
    </style>
{%endblock%}