{%extends 'base.html'%}


{%block title %}
    Fundamentals
{%endblock %}


{%block content%}
    <div class="container text-center">
       
            <a href="/fundamentals/stock-symbols/"><button class='btn btn-outline-primary'>Click to check all stocks in USD</button></a>
            <a href="/fundamentals/all-stocks/"><button class='btn btn-outline-danger'>Click to see global-listed stocks</button></a>
            <a href="/fundamentals/company-profile/"><button class='btn btn-outline-danger'>Click to check the complete company profile</button></a>
            <a href="/fundamentals/all-exchanges/"><button class='btn btn-outline-danger'>Click to check all stock exchanges</button></a>
            <a href="/fundamentals/all-tickers/"><button class='btn btn-outline-danger'>Click to check all tickers</button></a>
            <a href="/fundamentals/get-news/"><button class='btn btn-outline-danger'>Click to see news of a specific company</button></a>
            <a href="/fundamentals/finance-insider/"><button class='btn btn-outline-danger'>Click to see insider transactions</button></a>
            <a href="/fundamentals/earnings/"><button class='btn btn-outline-danger'>Click to see earnings</button></a>
            <a href="/fundamentals/ipo/"><button class='btn btn-outline-danger'>IPO Calendar </button></a>
            <a href="/fundamentals/market-news/"><button class='btn btn-outline-danger'>Market News   </button></a>
            <a href="/fundamentals/filings/"><button class='btn btn-outline-danger'>Filings </button></a>
            <a href="/fundamentals/reported-financials/"><button class='btn btn-outline-danger'>Repoted Financials    </button></a>

    </div>
{%endblock%}