{%extends 'base.html'%}



{%block title%}
    Home
{%endblock%}




{%block content%}

{% with messages = get_flashed_messages(with_categories=true) %}
        {%if messages %}
            {%for category,message in messages%}
                {%if category == "warning" %}
                <div class="alert text-center alert-warning  alert-dismissable fade show" role="alert">
                    
                        {{ message }}
                   
                    
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden ="true">&times;</span>
                    </button>
                </div>
                {%else%}
                <div class="alert text-center alert-success  flex-end alert-dismissable fade show" role="alert">
                    
                        {{ message }}
                   
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden ="true">&times;</span>
                    </button>
                </div>
                {%endif%}
            {%endfor%}
        {%endif%}
    {% endwith %}

    <div class="container">
        <div class="row mt-5">
          <div class="col">
            <div class="card">
                <div class="card-body">
                    <h4>Notes</h4>
                    <hr>
                    <h6>Make your notes/todos here.</h6>
                </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
                <div class="card-body">
                    <h4>Mutual-Funds</h4>
                    <hr>
                    <h6>Store your required mutual-funds lists and datas.</h6>
                </div>
            </div>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col">
            <div class="card">
                <div class="card-body">
                   <h4>Currencies</h4> 
                    <hr>
                    <h6>Store your required global currency lists and datas.</h6>
                </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
                <div class="card-body">
                    <h4>Shares</h4>
                    <hr>
                    <h6>Save your required Shares information and data-figures.</h6>
                </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
                <div class="card-body">
                   <h4>Crypto</h4> 
                    <hr>
                    <h6>Save your needed/required Crypto figures.</h6>
                </div>
            </div>
          </div>
        </div>

        <div class="row mt-5">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <a href="/user-profile/{{user.id}}/reset-profile"><h4 class="text-dark"> Reset credentials. </h4></a>
                        <hr>
                        <h6>
                            Reset your username,email,password and etc..
                        </h6>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h4>Delete My Account.</h4>
                        <hr>
                        <h6>
                            Delete account including all saved info.
                        </h6>
                    </div>
                </div>
            </div>
            
          </div>
      </div>
    <style>
        .card{
            border: 1.5px solid grey;
        }
        
    </style>
{%endblock%}