@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400');
/* RESET STYLE */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    margin: 0 auto;
    min-height: 100%;
    font-family: 'Titillium Web', Tahoma, sans-serif, monospace;
}

html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

/* MOBILE DISPLAY */
nav {
    z-index: 9999;
    position: relative;
    top: 0;
    width: 100%;
}

.container0 {
    display: inline-block;
    height: 60px;
    width: 100%;
    background: #ECECEC;
}

.inav {
    padding: 12px;
    height: 50px;
    width: 50px;
    margin: 5px;
    float: right;
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 2px solid #d7b94c;
    border-radius: 25px;
}

.c1,
.c2,
.c3 {
    width: 26px;
    height: 2px;
    background: #d7b94c;
    border-radius: 2px;
    transition: transform .3s ease-out, width .3s ease-in;
    transform: translateY(0) rotate(0);
    -webkit-transform: translateY(0) rotate(0);
    -webkit-transition: -webkit-transform .3s ease-out, width .3s ease-in;
}

.close-c1 {
    transform: translateY(10px) rotate(45deg);
    transition: transform .3s ease-out;
    -webkit-transform: translateY(10px) rotate(45deg);
    -webkit-transition: -webkit-transform .3s ease-out;
}

.close-c2 {
    width: 0;
    transition: width .3s ease-in;
    -webkit-transition: width .3s ease-in;
}

.close-c3 {
    transform: translateY(-10px) rotate(-45deg);
    transition: transform .3s ease-out;
    -webkit-transform: translateY(-10px) rotate(-45deg);
    -webkit-transition: -webkit-transform .3s ease-out;
}

.nav {
    z-index: 2;
    padding: 0;
    width: 100%;
    text-align: center;
    background-color: #ECECEC;
    display: none;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, .1);
    position: relative;
    top: -4px;
}

.open {
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    opacity: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-animation: 300ms show ease-out forwards;
    animation: 300ms show ease-out forwards;
}
ul a {
    text-align: center;
    display: inline-block;
    color: #aaa;
    padding: 13px;
    font-size: 18px;
    border-top: 1px #BDC3C7 solid;
    text-decoration:none;
}
ul a:hover {
    background-color: #DADFE1;
    color: #607D8B;
}
/* DESKTOP MODE */
@media (min-width: 500px) {
#nav {
        display: -ms-flexbox;
        /* TWEENER - IE 10 */
        display: -webkit-flex;
        /* NEW - Chrome */
        display: flex;
        flex-direction: row;
        justify-content: center;
        -webkit-flex-direction: row;
        top: 0;
    }
    .open {
        flex-direction: row;
        -webkit-flex-direction: row;
    }
    ul a {
        border-top: 0;
    }
    .container0 {
        display: none;
    }
}

/* ANIMATION */
@-webkit-keyframes show {
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes show {
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
h1{
  font-weight:100;
  text-align:center;
  margin-top:20px;
}